/* ------ WHITE ------ */
$white: #ffffff;

/* ------ BLACK ------ */
$black: #000000;

/* ------ GREY ------ */
$grey1: #53595c;
$grey2: #6b7175;
$grey3: #31383e;
$grey4: #181d21;
$grey5: #48555d;
$grey6: #22292d;
$grey7: #6c7276;

/* ------ VIOLET ------ */
$violet1: #5e00ca;
$violet2: #ac378e;
$violet3: #372b73;
$violet4: #a53689;

/* ------ ORANGE ------ */
$orange1: #ed751b;
$orange2: #e84b37;
$orange3: #ee7d16;

/* ------ PINK ------ */
$pink: #d5536f;